# For first file (05/25/17)

In [1]:
import pandas as pd
import numpy as np

dtype = [np.float64, np.int32, 'str'] + 96 * [np.float64] #defining the data types for the columns
df = pd.read_csv('/Users/nandinimalik/Downloads/lenfest_summer_data/Power/LenfestPowerData20170525.csv')
col_names =df.columns
dtype = dict(zip(col_names, dtype))
df1 = pd.read_csv('/Users/nandinimalik/Downloads/lenfest_summer_data/Power/LenfestPowerData20170525.csv', na_values = [' ']) #setting the spaces as the null values

del df1['SERIALNO']
del df1['MCSLOT']

columns = [x for x in range(97)] #changing names of columns to integer values for convenience 
df1.columns = columns
#for k in range(1,96):
    #df1[k]=df1[k+1]-df1[k]

df1 = df1.groupby(by = 0).sum() #combining values of phase 1 and phase 2 for each apartment
df1.head()

,1,2,3,4,5,6,7,8,9,10,...,87,88,89,90,91,92,93,94,95,96
0,,,,,,,,,,,,,,,,,,,,,
1001,19964.929215,19964.936856,19964.959816,19964.963913,19964.977759,19964.994452,19964.999182,19965.027301,19965.033226,19965.057321,...,19965.952010,19965.975569,19965.982271,19965.986724,19966.013184,19966.017365,19966.021447,19966.047752,19966.052137,19966.056186
1002,20006.545832,20006.568767,20006.572059,20006.575191,20006.578527,20006.595934,20006.632514,20006.637083,20006.641437,20006.644768,...,20007.541579,20007.544516,20007.568137,20007.598372,20007.601487,20007.604606,20007.607644,20007.610685,20007.645689,20007.663770
1003,27072.898941,27072.898941,27072.898941,27072.898941,27072.921413,27072.936049,27072.936049,27072.936049,27072.962711,27072.973378,...,27075.005674,27075.005674,27075.005674,27075.005987,27075.036530,27075.049977,27075.049977,27075.049977,27075.049977,27075.069684
1004,10077.616031,10077.622693,12248.359598,12248.361786,10077.672078,10077.678660,10077.692400,10077.725013,10077.734174,10077.741220,...,12252.672554,10082.773461,10082.773494,10082.773532,10082.773559,10082.804212,10082.804276,10082.804331,10082.804403,10082.821350
1005,23646.307228,23646.430284,23646.551979,23646.655530,23646.788113,23646.802655,23646.819308,23646.838502,23646.857005,23646.876023,...,23650.356479,23650.367910,23650.449075,23650.543002,23650.627848,23650.739058,23650.861105,23650.970294,23651.072592,23651.152199

In [2]:
def set_mean(row,y):
    a=0
    if y>0: a = row[y-1]
    while y<96:
        if row[y]>0:
            return ((a+row[y])/2)
        y=y+1
    return a

temp = df1.values.tolist()
row_names = list(df1.index)
col_names = list(df1)
x = 0
for row in temp:
    y = 0
    for val in row:
        if val > 0:
            pass
        else:
            row[y] = set_mean(row,y)
            df1.set_value(row_names[x],col_names[y],row[y])
        y = y + 1   
    x = x + 1

array([[  1.99649292e+04,   1.99649369e+04,   1.99649598e+04, ...,
          1.99660478e+04,   1.99660521e+04,   1.99660562e+04],
       [  2.00065458e+04,   2.00065688e+04,   2.00065721e+04, ...,
          2.00076107e+04,   2.00076457e+04,   2.00076638e+04],
       [  2.70728989e+04,   2.70728989e+04,   2.70728989e+04, ...,
          2.70750500e+04,   2.70750500e+04,   2.70750697e+04],
       ...,
       [  2.81338994e+04,   2.81339098e+04,   2.81339117e+04, ...,
          2.81377136e+04,   2.81377448e+04,   2.81377763e+04],
       [  2.81157527e+04,   2.81157536e+04,   2.81157671e+04, ...,
          2.81164602e+04,   2.81164612e+04,   2.81164622e+04],
       [  3.30000000e+07,   3.30000000e+07,   3.10404844e+07, ...,
          3.30000000e+07,   3.30000000e+07,   3.30000000e+07]])

In [625]:
#function to remove null values

def set_mean(temp,l):
    a = temp[l-1][1]
    for c in temp[l:]:
        if not (c[1] is None):
            return (a+c[1])/2

temp = []
for i,j in df1.iterrows():
    temp.append(j)
    x = 0
    for val in temp:
        if val[1] is None:
            temp[x][1]=set_mean(temp,x)
            df1.loc[i,x] = temp[x]
        x += 1
    del temp[:]

In [626]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 212 entries, 1001 to NO CT
Data columns (total 96 columns):
1     212 non-null float64
2     212 non-null float64
3     212 non-null float64
4     212 non-null float64
5     212 non-null float64
6     212 non-null float64
7     212 non-null float64
8     212 non-null float64
9     212 non-null float64
10    212 non-null float64
11    212 non-null float64
12    212 non-null float64
13    212 non-null float64
14    212 non-null float64
15    212 non-null float64
16    212 non-null float64
17    212 non-null float64
18    212 non-null float64
19    212 non-null float64
20    212 non-null float64
21    212 non-null float64
22    212 non-null float64
23    212 non-null float64
24    212 non-null float64
25    212 non-null float64
26    212 non-null float64
27    212 non-null float64
28    212 non-null float64
29    212 non-null float64
30    212 non-null float64
31    212 non-null float64
32    212 non-null float64
33    212 non-null float64
34    212 non-null float64
35    212 non-null float64
36    212 non-null float64
37    212 non-null float64
38    212 non-null float64
39    212 non-null float64
40    212 non-null float64
41    212 non-null float64
42    212 non-null float64
43    212 non-null float64
44    212 non-null float64
45    212 non-null float64
46    212 non-null float64
47    212 non-null float64
48    212 non-null float64
49    212 non-null float64
50    209 non-null float64
51    209 non-null float64
52    212 non-null float64
53    212 non-null float64
54    212 non-null float64
55    212 non-null float64
56    212 non-null float64
57    212 non-null float64
58    212 non-null float64
59    212 non-null float64
60    212 non-null float64
61    212 non-null float64
62    212 non-null float64
63    212 non-null float64
64    212 non-null float64
65    212 non-null float64
66    212 non-null float64
67    212 non-null float64
68    212 non-null float64
69    212 non-null float64
70    212 non-null float64
71    212 non-null float64
72    212 non-null float64
73    195 non-null float64
74    195 non-null float64
75    212 non-null float64
76    212 non-null float64
77    212 non-null float64
78    212 non-null float64
79    212 non-null float64
80    212 non-null float64
81    212 non-null float64
82    212 non-null float64
83    212 non-null float64
84    212 non-null float64
85    212 non-null float64
86    212 non-null float64
87    212 non-null float64
88    212 non-null float64
89    212 non-null float64
90    212 non-null float64
91    212 non-null float64
92    212 non-null float64
93    212 non-null float64
94    212 non-null float64
95    212 non-null float64
96    212 non-null float64
dtypes: float64(96)
memory usage: 170.7+ KB

In [627]:
df1 = df1.transpose()
df1['Date'] = [pd.to_datetime('05-25-2013')]*96 #adding date column

df1.set_index('Date')
df1['Interval'] = [x for x in range(1,97)] #adding column with interval number

df1 = df1.reindex_axis(['Interval'] + list([a for a in df1.columns if a != 'Interval']), axis=1)
df1 = df1.reindex_axis(['Date'] + list([a for a in df1.columns if a != 'Date']), axis=1)

df1.head()

,Date,Interval,1001,1002,1003,1004,1005,1006,1007,1008,...,G201,G202,G203,G204,G205,G206,L01,L02,L03,NO CT
1,2013-05-25,1,0.007641,0.022935,0.000000,0.006662,0.123056,0.005607,0.062400,0.201231,...,0.083728,0.035989,0.024072,0.016362,0.000168,0.027599,0.167533,0.010403,0.000884,0.000000e+00
2,2013-05-25,2,0.022960,0.003292,0.000000,2170.736905,0.121695,0.036352,0.031270,0.216292,...,0.078390,0.035496,0.033665,0.020984,0.009912,0.010753,0.183745,0.001925,0.013503,-9.595155e+05
3,2013-05-25,3,0.004097,0.003132,0.000000,0.002188,0.103551,0.035368,0.021329,0.203120,...,0.052209,0.035464,0.052206,0.033713,0.032529,0.014018,0.170065,0.001907,0.017340,-1.000000e+06
4,2013-05-25,4,0.013846,0.003336,0.022472,-2170.689708,0.132583,0.034146,0.035957,0.149356,...,0.052245,0.040510,0.024045,0.016462,0.020476,0.053797,0.151870,0.012206,0.000980,1.959516e+06
5,2013-05-25,5,0.016693,0.017407,0.014636,0.006582,0.014542,0.005072,0.041808,0.218562,...,0.052824,0.066313,0.024159,0.016580,0.000027,0.079916,0.153574,0.032906,0.001013,0.000000e+00

# For second file (05/26/17)

In [643]:
import pandas as pd
import numpy as np

dtype = [np.float64, np.int32, 'str'] + 96 * [np.float64] #defining the data types for the columns
df = pd.read_csv('/Users/nandinimalik/Downloads/lenfest_summer_data/Power/LenfestPowerData20170526.csv')
col_names =df.columns
dtype = dict(zip(col_names, dtype))
df2 = pd.read_csv('/Users/nandinimalik/Downloads/lenfest_summer_data/Power/LenfestPowerData20170526.csv', na_values = [' ']) #setting the spaces as the null values

del df2['SERIALNO']
del df2['MCSLOT']

columns = [x for x in range(98)] #changing names of columns to integer values for convenience 
df2.columns = columns
for k in range(1,96):
    df2[k]=df2[k+1]-df2[k]

df2 = df2.groupby(by = 0).sum() #combining values of phase 1 and phase 2 for each apartment
df2.head()

,1,2,3,4,5,6,7,8,9,10,...,88,89,90,91,92,93,94,95,96,97
0,,,,,,,,,,,,,,,,,,,,,
1001,0.026656,0.004132,0.005559,0.025026,0.004149,0.008230,0.022148,0.004120,0.010526,0.020050,...,0.004014,0.024848,0.006048,0.003931,0.026364,0.004330,0.004921,0.025421,19967.319937,19967.324038
1002,0.003427,0.002972,0.003010,0.015405,0.032632,0.008007,0.003088,0.002944,0.002999,0.025566,...,0.031775,0.012209,0.003114,0.002916,0.003255,0.030266,0.022814,0.003154,20008.854870,20008.858142
1003,0.024100,0.000000,0.000000,0.000000,0.006800,0.031600,0.005260,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.005000,0.029540,0.004200,0.000000,0.000000,0.012240,27075.969681,27075.995861
1004,0.014156,0.000079,2169.997370,-2169.997323,0.030089,0.000969,0.000050,0.000031,0.015734,0.015101,...,0.005080,0.010020,0.031362,0.005455,0.006502,0.005822,0.018255,0.023141,10083.605393,10083.611335
1005,0.133280,0.042150,0.014500,0.014650,0.014550,0.014860,0.037990,0.043410,0.037270,0.013450,...,0.117000,0.128790,0.119480,0.092720,0.096380,0.099380,0.088190,0.090530,23656.980820,23657.071090

In [644]:
# function 1 to remove null values

rows = []
for apartment,j in df2.iterrows():#iterating through the rows
    rows.append(apartment)
#print rows
for i in rows:
    for column in df2.columns[1:]: #iterating through the columns
        if df2.loc[i,column] == float('nan')  : #if a particular entry is a nan value, do
            a = df2.loc[i,column-1] #setting a = the entry in the previous column in the same row 
            c = column
            while df2.loc[i,c] == float('nan'): #finding the next non-null value in the row
                c += 1
                continue
            df2.loc[i,column] = (a + df2.loc[i,c])/2 #setting the null value equal to the average of the provious and next non null value
        else:
            continue

In [645]:
df2 = df2.transpose()
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97 entries, 1 to 97
Columns: 212 entries, 1001 to NO CT
dtypes: float64(212)
memory usage: 163.9 KB

In [646]:
df2['Date'] = [pd.to_datetime('05-26-2013')]*97 #adding date column

df2.set_index('Date')
df2['Interval'] = [x for x in range(1,98)] #adding column with interval number

df2 = df2.reindex_axis(['Interval'] + list([a for a in df2.columns if a != 'Interval']), axis=1)
df2 = df2.reindex_axis(['Date'] + list([a for a in df2.columns if a != 'Date']), axis=1)

df2.head()

,Date,Interval,1001,1002,1003,1004,1005,1006,1007,1008,...,G201,G202,G203,G204,G205,G206,L01,L02,L03,NO CT
1,2013-05-26,1,0.026656,0.003427,0.0241,0.014156,0.13328,0.005353,0.043760,0.15492,...,0.06571,0.036547,0.03281,0.00810,0.00526,0.21420,0.00459,0.031237,0.001008,0.000000
2,2013-05-26,2,0.004132,0.002972,0.0000,0.000079,0.04215,0.004620,0.125825,0.19837,...,0.08248,0.027067,0.05325,0.00820,0.00521,0.40998,0.00328,0.060720,0.014723,0.000000
3,2013-05-26,3,0.005559,0.003010,0.0000,2169.997370,0.01450,0.004009,6232.196081,15229.24392,...,0.06485,0.022975,0.02400,0.03039,0.01737,0.41849,0.00270,0.059067,0.016187,-959512.826392
4,2013-05-26,4,0.025026,0.015405,0.0000,-2169.997323,0.01465,0.004184,-6232.173145,-15228.79958,...,0.05248,0.023093,0.02417,0.00824,0.03558,0.39185,0.00243,0.046969,0.001039,959512.826392
5,2013-05-26,5,0.004149,0.032632,0.0068,0.030089,0.01455,0.013184,0.038280,0.15490,...,0.05177,0.022886,0.02383,0.00776,0.02150,0.38660,0.01814,0.015216,0.001066,0.000000